<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="TknikaII-web">
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <property name="context-root" value="TknikaII-web"/>
    </wb-module>
</project-modules>
