#app {
	margin-bottom: 7px;
}

.nav-tabs > li, .nav-pills > li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.active > a {
	background-color: orange!important;
	color: white!important;
}

#farmActionButton, #name, #addFarm {
	margin-bottom: 5px;
	position: relative;
	top: -8px;
}

div.chart {
	height: 300px;
}

#seeBatch, #addBatch {
	position: relative;
	top: 4px;
}

.form-group {
	margin-bottom: 0px;
}

span.glyphicon {
	float: right;
}

.selectError {	
    border: solid rgba(230,37,37,0.4) 2px;
}

#batchName {
	position: relative;
	top: 3px;
}

#addBatch {
	margin-bottom: 5px;
}

.nav-tabs {
    text-align:center;
    margin-bottom: 10px;
}
#farmList {
    overflow-y:scroll;
}
.list-group > a {
	background-color: #DDEEFF;
}
.nav-tabs a {
	padding-left: 0;
}
.inline {
	display:inline;
}
#labelFarm {
	display:block;
}
.myRow {
	margin-top: 10px;
}
.bigMarginRow {
	margin-top: 30px;
}
.dimension {
	margin-right: 0px;
	margin-left: 0px;
}
#transects {
	padding-right: 0;
}
#panel td {
	vertical-align: middle;
}


@media screen and (max-width: 402px) {
	.nav-tabs > li, .nav-pills > li {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#farmList {
		overflow-y: scroll;
	}
	#tabs a {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 373px) {
	#tabs a {
		padding-left: 7px;
		padding-right: 7px;
	}
	#tabs li {
		padding-left: 10px;
		padding-right: 10px;	
	}
}

@media screen and (max-width: 345px) {
	#tabs li {
		padding-left: 10px;
		padding-right: 10px;	
	}
	#tabs a {
		padding-left: 6px;
		padding-right: 6px;
	}
}
@media screen and (max-width: 325px) {
	#tabs li {
		padding-left: 5px;
		padding-right: 5px;	
	}
	#tabs a {
		padding-left: 4px;
		padding-right: 4px;
	}
}